/* @import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Braah+One&family=Patrick+Hand&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Braah+One&family=Noto+Sans+TC:wght@100..900&family=Patrick+Hand&display=swap');
@font-face {
    font-family: 'sundaytime';
    src: url(./webfonts/SundayTime.otf);
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text);

}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    bottom: 0;
    padding: 0;
}

ol,
ul,
a {
    list-style: none;
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

body {
    font-family: "Noto Sans TC", sans-serif, "Aboreto", system-ui, "Braah One";
}

p {
    font-family: sans-serif, "Braah One";
}

:root {
    --primary1: #48A0F0;
    --primary2: #4AA38E;
    --primary2-light: #93D6C6;
    --primary1-light: #78B3E9;
    --primary1-w: #E5F6FE;

    --white: #f7fbff;
    --text: #56595B;
    --deep: #9c9d9e;
    --grey: #b4b8bc;
    /* 字級定義 */
    --font-size-xxs: .6rem;
    --font-size-xs: 1rem;
    --font-size-m: 1.2rem;
    --font-size-l: 1.4rem;
    --font-size-xl: 1.6rem;
    --font-size-2xl: 2.4rem;
    /* 字距 */
    --interval-xs: 1px;
    --interval-s: 2px;
    --interval-m: .2em;

    /* color */
    --bG-img: linear-gradient(4deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, .15) 55%, rgba(255, 255, 255, .6));
    --bg-filter: brightness(120%) blur(5px);
    --boxShadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    /* 容器外圍有陰影 */
}

button {
    cursor: pointer;
}

li>a {
    font-size: var(--font-size-m);
}

p>span {
    font-size: fon;
}

h3 {
    font-weight: 600;
}

p {
    letter-spacing: .05em;
    font-size: var(--font-size-m);
}

h4 {
    font-size: var(--font-size-m);
}


h3 {
    font-size: var(--font-size-xl);
}

h2 {
    font-size: var(--font-size-2xl);
    letter-spacing: var(--interval-m);
}

@media (max-width: 640px) {
    h2 {
        font-size: x-large;
    }

    h3 {
        font-size: larger;
    }

    p,
    a {
        font-size: xx-small;
    }

    h4 {
        font-size: medium;
    }
}

section {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-evenly;
}

section:not(#facility) {

    flex-direction: column;
}

a {
    white-space: nowrap;

}

/* 頁首：靜態 */
#topbar {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 66%;
    position: relative;
}

#top-frame {
    height: 85vh;
    width: calc(85vh*1.95);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#cover-frame {
    /* 原外框 */
    height: 87vh;
    width: calc(84vh*1.8);
    /* 長外框 */
    height: 85vh;
    width: calc(85vh*1.95);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    /* overflow-y: clip; */
}


#frame-end {
    display: flex;
    justify-content: space-between;

    z-index: 98;
    padding: 0 2%;
    margin-left: 2%;
    position: relative;
}

#frame-end #logo2 {
    position: absolute;
    width: auto;
    height: 33%;
    transform: rotate(-8deg);
    right: 6%;
    top: -46%;
}

#logo2 img {
    height: 100%;
    object-fit: cover;
    /* color: #fff;
    fill: #fff; */
}

.menu {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin-bottom: 2%;

}

.menu>li {
    padding: 2% 0;

}


.menu>li>a {
    white-space: nowrap;
}

#navG>li:hover a {
    color: var(--primary1);
}

#navG {
    background-color: #fff;
    margin-bottom: calc(2% + 3vh);
    border-radius: 33px;
    padding: 0 2%;
    flex: 5;
}

#quick {
    width: -webkit-fill-available;
    flex: 3;
    padding: 0 4% 0 7%;
    margin-right: -2%;
}

#quick>li {
    margin: 0 16px -6%;
}

#location .btn3 {
    padding: 1% 2%;
    border-radius: 33px;
    min-width: 7rem;
}


.btn3 {
    justify-content: space-between;
}
/* 按鈕CSS的部分 */
.btn {
    border: 1px solid var(--primary1);
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    position: relative;
    overflow: hidden;
    color: #fff;
    display: flex;
    justify-content: center;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
}

.btn3:hover {
    color: #3498db;
}

.btn3::before {
    top: 0;
    border-radius: 0 0 50% 50%;
    height: 180%;
}

.btn3:hover::before {
    height: 0%;
}

.btn>i {
    color: #FFF;
    margin-left: 16px;
}

.btn3:hover i {
    color: var(--primary1);
}

.btnS {
    border: 1px solid var(--primary2-light);
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    position: relative;
    overflow: hidden;
    color: #fff;
    display: flex;
    justify-content: center;
}

.btnS::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: var(--primary2-light);
    z-index: -1;
    transition: 0.8s;
}

.btn4:hover {
    color: var(--primary2-light);
}

.btn4::before {
    top: 0;
    border-radius: 0 0 50% 50%;
    height: 180%;
}

.btn4:hover::before {
    height: 0%;
}

#frame-start {
    z-index: 99;
    width: 50%;
}

#logo1 {
    width: 120%;
    margin-left: -24px;
    margin-top: -3%;
}



#logo1>svg {
    transition: .4s ease;

}

#frame-start:hover #logo1>svg {
    fill: transparent;
    stroke: #656565;
    stroke-width: 5;
    stroke-opacity: .6;

}


#frame-start>figure>img,
svg {
    fill: #656565;
    object-fit: cover;
    width: 100%;

}

@media (max-width: 640px) {

    #frame-end #logo2 {
        height: 26%;
    }
}

@media (max-width:1023px) {

    #top-frame {
        display: none;
    }

    #cover-frame {
        height: auto;
        min-height: 61vh;
    }

    #frame-start {
        flex-direction: column;

        width: auto;
    }

    #frame-start>#logo1 {
        width: 130%;
        flex: 7;

    }

    #frame-start>figure>svg {

        fill: var(--white) !important;
    }

    #navG {
        width: auto;
    }


    #frame-end {
        display: block;
    }

}

/* 頁首輪播特效 */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}


.carousel-wrapper {
    margin: 0 auto;
    background-color: #333;
    touch-action: none;
    overflow: hidden;
}

.carousel-wrapper .carousel-slide {
    display: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-wrapper .carousel-slide,
.carousel-wrapper .carousel-slide:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.carousel-wrapper .carousel-slide::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.25);
}

.carousel-wrapper .carousel-slide.slide-active {
    display: block;
    opacity: 0;
    animation: reveal-content ease forwards 700ms;
}

.carousel-wrapper .carousel-slide>div {
    border: 2px solid red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    user-select: none;
    z-index: 1;
}

.carousel-wrapper .carousel-slide>div h1,
.carousel-wrapper .carousel-slide>div p {
    opacity: 0;
    animation: reveal-content ease forwards 500ms;
}

.carousel-wrapper .carousel-slide>div h1 {
    animation-delay: 50ms;
    margin-bottom: 10px;
}

.carousel-wrapper .carousel-slide>div p {
    animation-delay: 100ms;
}

.carousel-wrapper .carousel-dots,
.carousel-wrapper .carousel-arrow {
    z-index: 1;
}

.carousel-wrapper .carousel-dots {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-wrapper .carousel-dots button {
    width: 8px;
    height: 8px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    outline: none;
    transition: background-color ease 250ms;
    cursor: pointer;
}

.carousel-wrapper .carousel-dots button+button {
    margin-left: 15px;
}

.carousel-wrapper .carousel-dots button.slide-active {
    background-color: var(--primary2-light);
    pointer-events: none;
}

.carousel-wrapper .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.carousel-wrapper .carousel-arrow.left-arrow {
    left: 25px;
}

.carousel-wrapper .carousel-arrow.right-arrow {
    right: 25px;
}

.carousel-wrapper .carousel-arrow:hover svg path {
    fill: #fff;
}

.carousel-wrapper .carousel-arrow svg {
    display: block;
    height: 20px;
}

.carousel-wrapper .carousel-arrow svg path {
    fill: rgba(255, 255, 255, 0.5);
    transition: fill ease 250ms;
}

.carousel-slide:nth-child(3) {
    background-position: -20% 0;
}

@keyframes reveal-content {
    from {
        opacity: 0;
        transform: translateX(var(--revealSlideOffset));
    }

    75% {
        opacity: 1;
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*# sourceMappingURL=style.css.map */

.carousel-slide:nth-child(4) {
    background-position: 50% 66% !important;
}

/* 標題樣式 */

.title {
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    font-family: "Patrick Hand", serif;
        font-family: 'sundaytime';
}

.title>p {
    margin-top: 20px;
}


.title>h4 {
    position: relative;
    display: inline-block;
    color: var(--primary1);
    letter-spacing: var(--interval-m);
    margin-left: -6rem;
    font-size: var(--font-size-2xl);
}


.title>h2 {
    margin-right: var(--interval-xs);
}

.loC-title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 16% 5%;
    width: -webkit-fill-available;
    z-index: 99;
}


.loC-title>a>img {
    width: auto;
    width: 32px;
    height: auto;
    margin-left: auto;
}

@media (max-width: 640px) {
.title>h4 {
margin-left: -1rem;
}
    .loC-title>a img {
        display: none;
    }
}

/* 據點頁開始 */


.sticky {
    position: sticky;
    top: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 3%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}


.horizontal {
    display: flex;
    overflow: hidden;
}



main>header:first-child {
    margin: 30px;
}

.sticky-parent {
    padding-left: 3%;
}


.dim {
    box-sizing: border-box;
    max-height: 100%;
    width: 260px;
    min-width: 23%;
    padding: 0 3%;
    display: flex;
    flex-direction: column;
}



.dim figure {
    position: relative;
    max-height: 67%;
}

.dim figure>img {

    height: 100% !important;
    object-fit: cover;
    border-radius: 8px;
}

.title-deC {
    position: absolute;
    left: 15%;
    top: -50%;
    width: 100px;
}

.img-decorate {
    position: absolute;
    top: 53%;
    left: 53%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    border-width: 5px;
    background-image: linear-gradient(to bottom right, var(--primary2) 20%,
            var(--primary2-light)36%, #78B3E9 66%, var(--primary1) 100%);
    border-style: solid;
    border-color: transparent;
    border-radius: .4rem;
    background-origin: border-box;
    mask-image: linear-gradient(white, white), linear-gradient(white, white);
    mask-composite: exclude, add;
    mask-clip: padding-box, border-box;
}


.content {
    padding-left: 12px;
    padding: 12px;
}

.content>h3 {
    margin: 12px 0 24px;
    position: relative;

}

@media (max-width: 640px) {
    .horizontal {
        flex-flow: row wrap;
    }

    .dim {
        display: block;
        width: 50% !important;
        padding: 7% 6% 0;
    }

    .dim:nth-child(3n+1) {
        display: none;
    }

    .sticky {
        display: block;
    }

    .sticky-parent {
        height: auto;
    }

    .content h3 {
        margin-bottom: 0;
    }

    .content h4 {
        display: none;
    }
}

@media (max-width:1023px) {

    .dim {
        min-width: 30%;
    }

    .sticky-parent {
        height: 130vh;
    }

}

@media (min-width: 1024px) {

    .sticky-parent {
        height: 210vh;
    }
}

.bg-bubble {
    background-image: url(./image/feature-backG.png), linear-gradient(to left bottom,
            transparent 13%,
            var(--primary1-w) 22%,
            transparent 51%,
            var(--primary1-w) 85%);
    /* background-size: cover; */
    background-size: 120%;
    background-position: 50% 61%;
}

/* 方案介紹區開始 */
.col-wrap {
    display: flex;
    flex-direction: column;
    /* 方案環境區共用 */
}

#plan {
    background-size: cover;
    position: relative;
    height: auto;
}

#plan .col-wrap {
    z-index: 98;
    width: auto;
    padding: 0 13%;
}

.plan-item {
    display: flex;
    justify-content: center;
    border: 3px solid var(--primary1-w);
    box-shadow: 10px 10px var(--primary1-w);
    border-radius: 30px;
    background-color: #fff;
    margin: 1vh 0;
    padding: 0 5%;
    /* height: 150px; */
}

.plan-conT {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* margin: 3% 0; */
}

.plan-conT>h3 {
    color: var(--primary1);
    margin-top: 3%;
}

.plan-conT>p {
    margin: 7% 10%;
}

.plan-item>figure {
    flex: 2;
    height: 24vh;
    margin-left: 30px;
    transition: .5s ease;

}

/* .plan-item {
    flex: 1;
    display: flex;
    justify-content: center;
    border: 3px solid var(--primary1-w);
    border-radius: 30px;
    background-color: #fff;
    margin: 1vh 0;
    padding: 0 5%;
}

.plan-conT {
    padding-top: 10px;
    padding: 2% 0;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3% 0;
}
.plan-conT >h3{
    color: var(--primary1);
}
.plan-conT>p {
    margin-top: 3%;
}


.plan-item>figure {
    flex: 2;
    height: 24vh;
    margin-left: 30px;
    transition: .5s ease;

} */

.plan-item>figure>img {
    height: 60%;
    margin: 2%;
}

.plan-item:nth-child(1)>figure>img {
    height: 53%;
}


@media (max-width: 640px) {
    .col-wrap {
        width: 88%;
    }


    .plan-item {
        flex-direction: column-reverse;

        width: 100%;
    }

    .plan-item:first-child {
        display: none;
    }

    .plan-item>figure {
        flex: 1;
        margin: 0 12%;
    }

    .plan-item>figure>img {
        margin: 5%;
    }

}

@media(max-width: 1023px) {

    .bg-plan {
        width: 12%;
    }

    .plan-item>figure {
        /* height: 15vh; */
    }

    .feature-conT {
        flex: 1 !important;
    }
}

/* 環境介紹 */
#feature {
    height: 200vh;
    padding: 0 15%;
    display: flex;
    /* background-image: url(./image/feature-backG.svg); */
    background-size: cover;
    background-position: 50% 17%;
}

#feature .col-wrap {
    height: 100%;
    padding: 0 0 9%;
}

#feature .title {
    align-self: flex-start;
}

.col-flex {
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.col-flex:nth-child(even) {
    flex-direction: row-reverse;
}


/* 環境特色文字 */
.feature-conT {
    display: flex;
    flex-flow: column nowrap;
    flex: 5;
    padding: 3% 7% 7%;
}

.feature-conT>img {
    width: auto;
    align-self: flex-start;
    height: 80px;
}

.feature-conT>h3 {
    color: var(--primary1);
}

.feature-conT>p {
    padding-top: 16px;
    /* display: -webkit-box; */
    -webkit-box-orient: vertical;
    /* -webkit-line-clamp: 12; */
}

/* 環境特色照片 */
.feature-view {
    flex: 3;
    aspect-ratio: 3/2;
    min-width: 40%;
    position: relative;
    z-index: 99;
}

/* 環境區照片陰影效果 */
.col-flex:nth-child(even)>figure::before {
    right: 13%;
}

.col-flex:nth-child(odd)>figure::before {
    left: 13%;
}

.col-flex:nth-child(-n+3)>figure::before {
    background-color: var(--primary1-w);
}

.col-flex>figure::before {
    content: '';
    bottom: 13%;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    border-radius: 15px;
    opacity: .6;
}

.col-flex:nth-child(4)>figure::before {
    background-color: #fff;
}

.feature-view>img {
    object-fit: cover;
    height: 100%;
    position: relative;
    border-radius: 15px;
}

@media (max-width: 640px) {
    #feature {
        height: 100vh !important;
    }
    #feature .col-wrap {
        padding-top: 9%;
    }

    .col-flex {
        flex-direction: column-reverse !important;
        align-items: center;
    }

    .col-flex:nth-child(n+3) {
        display: none;
    }

    .feature-view {
        max-width: 26vh;
    }

    .feature-conT>p {
        -webkit-line-clamp: 6;

    }

    .feature-conT>img {
        height: 29%;
        margin-left: 3%;
    }
}

@media (max-width: 1023px) {



    .feature-conT>p {
        overflow: hidden;
    }
}

/* 設備 */
#facility {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-image: linear-gradient(var(--primary1-w) 28%,
            transparent 28%,
            transparent 80%,
            var(--primary1-w) 80%),
        linear-gradient(to right, var(--primary1-w) 8%, transparent 8%, transparent 92%, var(--primary1-w) 92%); */
    background-image: url(./image//bg-wave.png), linear-gradient(140deg,
            var(--primary1-w) 6%,
            transparent 32%);
    background-size: cover;
    flex-direction: column;
    padding: 0 6%;
    background-position: 50% -22%;
    background-repeat: no-repeat;
}

#facility .title {
    align-self: flex-start;
    padding: 0;
    padding-left: 6%;
}

.faciL-box {
    width: 49%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: normal;
    margin-top: -4%;
}

.faciL-card {
    margin-left: auto;
    margin-top: 8px;
    padding: 5%;
    width: 29%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    border: 1.6px solid var(--deep);
    background-image: var(--bG-img);
    box-shadow: var(--boxShadow);
    backdrop-filter: var(--bg-filter);
    border-radius: 8px;

}

.faciL-card>h5 {
    flex: 1;
    margin-top: 1vh;
    font-family: sans-serif, "Braah One";
}

.faciL-card>figure {
    flex: 3;
    margin: 0 24%;
}

.faciL-card>figure>img {
    height: 100%;
    object-fit: contain;
}


.faciL-card>span {
    transform: rotate(90deg);
    height: 0;
    width: 0;
    top: 8%;
    right: 3%;
    color: var(--primary1);
    position: absolute;
}


@media (max-width: 640px) {

    .faciL-card>h5 {
        line-height: 1rem;
    }

    .faciL-card>span {
        display: none;
    }
}

@media (max-width: 1023px) {

    #facility .title>p {
        margin-left: auto;
    }

    .faciL-box {
        width: calc(42vh);
    }

}

/* 環境介紹區動態 */
#feature {
    padding-top: 2%;
}

.feature-view {
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}

.feature-view.active {
    opacity: 1;
    transform: translateX(0%) scale(1);
}


/* 流程區 */
#process {
    height: 70vh;
    height: 76vh;
    justify-content: space-around;
}

#process .title {
    margin-top: 20px;

}

#process>ul>img {
    position: absolute;
    width: auto;
    top: -53%;
    height: 39%;
    right: 6%;
    transition: ease;
}

#process>ul {
    display: flex;
    position: relative;
}

.step {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.step>h4 {
    letter-spacing: var(--interval-xs);
}

.step>h4>span {
    margin-left: 6px;
    position: relative;
    font-size: 2.5rem;
}

#process .content {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 5%;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
    flex: 5;
}

#process h4,
.content>h3,
p {
    z-index: 99;
}

#process .content>p {
    padding: 0 15%;
    position: relative;
}

#process .arrow-bg {
    height: 110%;
    position: absolute;
    top: 50%;
    bottom: -30%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

}


#process .title-deC {
    width: 80px;
    top: -3px;
}

/* 新增/改動 */
#process .content:hover {
    transform: scale(1.2);
}

#process>ul {
    display: flex;
    position: relative;
    margin-top: 56px;
}

#process .arrow-bg {
    height: 80%;
    position: absolute;
    top: 50%;
    bottom: -30%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

}

@media (max-width: 640px) {
    #process>ul {
        flex-flow: column nowrap !important;
        justify-content: space-around;
        align-items: stretch;

    }

    #process>ul>img {
        height: 17% !important;
        right: -1%;
    }

    .step {
        flex-direction: row;
        width: auto !important;
        margin-top: auto;
    }

    .step>h4 {
        flex: 2;
        transform: scale(0.8);

    }

    #process .content {
        flex: 5;
    }

    #process .content>img {

        width: 55%;
        height: auto !important;

    }
}

@media (max-width: 1023px) {

    #process>ul {
        flex-flow: row wrap;
        height: 100%;
        padding: 0 3%;
        align-items: normal;
    }

    #process>ul>img {
        top: -22%;
        height: 22%;
    }

    .step {
        flex: none;
        width: 48%;
        margin-top: 10%;
    }

    .step>h4 {
        padding-bottom: 7%;
    }

    #process .content {
        height: 80%;
    }

    #process .content>img {
        height: 120%;
    }

}

.step-dec {
    display: none;
    position: absolute;
    width: 38%;
    left: 3%;
    top: 4rem;
}

#step-dec2 {
    top: 2rem;
    left: auto;
    right: 3%;
}

@media (min-width: 1024px) {

    #process>ul {
        height: 75%;
    }

    .step {

        height: 100%;
    }

    #process .content {
        height: 60%;
    }


    .arrow-bg {
        height: 90%;
    }

    .step-dec {
        display: block;
    }
}



@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

/*------footer開始------*/
footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(72, 160, 240, 0.74);
    margin-top: 250px;
    line-height: 1.2;
    font-family: "Braah One", "Noto Sans TC", Arial, Helvetica, "微軟正黑體", sans-serif;
}

footer .official-logo {
    width: 485px;
    margin: 27px 0 0 50px;
}

@media (max-width: 640px) {
    footer .official-logo {
        margin: 0;
    }
}

footer .official-social {
    margin: 0 auto 0 365px;
    display: flex;
    align-self: flex-end;
}

@media (max-width: 1440px) {
    footer .official-social {
        margin: 0 auto 0 120px;
    }
}

@media (max-width: 640px) {
    footer .official-social {
        margin: 0 auto;
    }
}

footer .official-social img {
    width: 70px;
    height: 70px;
}

footer .footer-map {
    margin: 0 auto;
    align-self: flex-end;
}

footer .footer-map .footer-menu {
    width: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer .footer-map .footer-menu li {
    margin: 0 60px 40px 0;
}

@media (max-width: 640px) {
    footer .footer-map .footer-menu li {
        margin: 20px 20px;
    }
}

footer .footer-map .footer-menu li a {
    font-size: 20px;
    color: #fff;
}

footer .footer-map .footer-menu li a:hover {
    border-bottom: 3px solid #FFF;
    margin-bottom: -3px;
    /* 讓文字不抖動 */
}

footer small {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    color: #fff;
    font-size: 100%;
}

/*------footer結束------*/


/* TOP */
#gotop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 20px;
    cursor: pointer;
    z-index: 999;
}

@media (max-width: 768px) {
    #gotop{
        bottom: 60px;
        right: 10px;
    }
    #gotop img{
        height: 75px;
    }
}